.row {
  display: flex;
  flex-wrap: wrap; }

.myPanel {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 3px; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: black; }

.hamburger.is-active:hover {
  opacity: 1; }

.hamburger:hover {
  opacity: 1; }

ul li {
  list-style-type: none; }

.showNav {
  max-height: 500px !important; }

.header {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .header .firstDiv {
    padding: 10px 20px 5px 20px;
    background-color: #f7eee6;
    display: flex;
    align-items: center;
    width: 100%; }
    .header .firstDiv .logo img {
      width: 100%;
      max-width: 150px;
      height: auto; }
  .header .secondDiv {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px; }
    .header .secondDiv .cartButton a {
      color: white; }
  .header .divItemsMenu {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #f7eee6;
    width: 100%; }
    .header .divItemsMenu ul {
      display: flex;
      padding: 0; }
      .header .divItemsMenu ul li {
        padding: 10px; }
        .header .divItemsMenu ul li a {
          text-decoration: none;
          font-size: 20px;
          color: #2c2c2c; }

@media (min-width: 992px) {
  .header .firstDiv {
    justify-content: center; }
    .header .firstDiv .hamburguerDiv {
      display: none; }
  .header .divItemsMenu ul {
    flex-direction: row;
    justify-content: center; } }

@media (max-width: 991px) {
  .header .firstDiv {
    justify-content: space-between; }
    .header .firstDiv .logo img {
      max-width: 80px; }
    .header .firstDiv .hamburguerDiv {
      display: block; }
  .header .divItemsMenu {
    max-height: 0; }
    .header .divItemsMenu ul {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
