@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif; }

.card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  .card .top {
    height: 400px; }
    .card .top .image {
      height: 100%;
      background-position: center;
      background-size: cover; }
      .card .top .image:hover {
        background-size: 150%; }
  .card .content {
    text-align: center;
    padding: 10px; }
    .card .content .title {
      color: #797979;
      font-size: 20px; }
    .card .content .price {
      color: #2e3e58;
      font-size: 25px;
      font-weight: 700; }
  .card .bottom {
    padding: 10px;
    text-align: center;
    margin-top: auto; }
    .card .bottom a {
      text-decoration: none; }

.articleDetail .content {
  padding: 20px; }
  .articleDetail .content .title {
    font-size: 40px;
    font-weight: bold; }
  .articleDetail .content .price {
    font-size: 28px; }
  .articleDetail .content .description {
    font-size: 18px; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: black; }

.hamburger.is-active:hover {
  opacity: 1; }

.hamburger:hover {
  opacity: 1; }

ul li {
  list-style-type: none; }

.showNav {
  max-height: 500px !important; }

.header {
  margin-bottom: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  width: 100%;
  flex-direction: column; }
  .header .firstDiv {
    padding: 10px 20px 5px 20px;
    background-color: #f7eee6;
    display: flex;
    align-items: center;
    width: 100%; }
    .header .firstDiv .logo img {
      width: 100%;
      max-width: 150px;
      height: auto; }
  .header .secondDiv {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px; }
    .header .secondDiv .cartButton a {
      color: white; }
  .header .divItemsMenu {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #f7eee6;
    width: 100%; }
    .header .divItemsMenu ul {
      display: flex;
      padding: 0; }
      .header .divItemsMenu ul li {
        padding: 10px; }
        .header .divItemsMenu ul li a {
          text-decoration: none;
          font-size: 20px;
          color: #2c2c2c; }

@media (min-width: 992px) {
  .header .firstDiv {
    justify-content: center; }
    .header .firstDiv .hamburguerDiv {
      display: none; }
  .header .divItemsMenu ul {
    flex-direction: row;
    justify-content: center; } }

@media (max-width: 991px) {
  .header .firstDiv {
    justify-content: space-between; }
    .header .firstDiv .logo img {
      max-width: 80px; }
    .header .firstDiv .hamburguerDiv {
      display: block; }
  .header .divItemsMenu {
    max-height: 0; }
    .header .divItemsMenu ul {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.footer {
  margin-top: 100px;
  width: 100%; }
  .footer .footerContent {
    background-color: #f7eee6; }
    .footer .footerContent .secondDiv {
      background-color: black;
      color: white; }

.p-image-preview {
  max-height: 82vh; }

.p-toast {
  margin-left: 20px;
  width: auto; }

.p-dialog {
  border: none; }
  .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #343a40;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.myPanel {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 3px; }

/*container-fluid*/
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

/*end container-fluid*/
/* container-md */
.container-md {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 575px) {
  .container-md {
    width: 100%; } }

@media (min-width: 576px) {
  .container-md {
    width: 100%; } }

@media (min-width: 768px) {
  .container-md {
    width: 720px; } }

@media (min-width: 992px) {
  .container-md {
    width: 960px; } }

@media (min-width: 1200px) {
  .container-md {
    width: 1140px; } }

/*End container-md*/
/*Category Tag*/
.category-tag {
  background: #f7eee6;
  color: #000000;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  border-radius: 3px; }

/*End category tag*/
.cart-articleImg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }

.greek-pattern {
  background-image: url("/src/img/greekpattern.png");
  background-size: contain;
  background-repeat: repeat;
  height: 40px; }
