.row {
  display: flex;
  flex-wrap: wrap; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: black; }

.hamburger.is-active:hover {
  opacity: 1; }

.hamburger:hover {
  opacity: 1; }

ul li {
  list-style-type: none; }

.showMenu {
  display: block !important;
  animation: fadeIn 0.5s; }

.hideMenu {
  animation: fadeOut 1s; }

@keyframes fadeIn {
  0% {
    height: 0;
    transform: translate(0, -100px); }
  100% {
    height: 1;
    transform: translate(0, 0); } }

@keyframes fadeOut {
  0% {
    display: block !important;
    height: 1; }
  100% {
    display: block !important;
    height: 0; } }

.nav {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .nav .firstDiv {
    padding: 10px 20px 5px 20px;
    background-color: #f7eee6;
    display: flex;
    align-items: center;
    width: 100%; }
    .nav .firstDiv .logo img {
      width: 100%;
      max-width: 150px;
      height: auto; }
  .nav .secondDiv {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .nav .secondDiv .cartButton {
      padding: 12px; }
      .nav .secondDiv .cartButton a {
        color: white; }
  .nav .divMenuItems {
    background-color: #f7eee6;
    width: 100%; }
    .nav .divMenuItems ul {
      display: flex;
      padding: 0; }
      .nav .divMenuItems ul li {
        padding: 10px; }
        .nav .divMenuItems ul li a {
          text-decoration: none;
          font-size: 20px;
          color: #2c2c2c; }

@media (min-width: 992px) {
  .nav .firstDiv {
    justify-content: center; }
    .nav .firstDiv .hamburguerDiv {
      display: none; }
  .nav .divMenuItems {
    display: block; }
    .nav .divMenuItems ul {
      flex-direction: row;
      justify-content: center; } }

@media (max-width: 991px) {
  .nav .firstDiv {
    justify-content: space-between; }
    .nav .firstDiv .logo img {
      max-width: 80px; }
    .nav .firstDiv .hamburguerDiv {
      display: block; }
  .nav .divMenuItems {
    display: none; }
    .nav .divMenuItems ul {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
