.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: black;
}

.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger:hover {
  opacity: 1;
}
