.p-toast {
  margin-left: 20px;
  width: auto;
}

.p-dialog {
  border: none;
  .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #343a40;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

