.row {
  display: flex;
  flex-wrap: wrap;
}

.myPanel {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-radius: 3px;
}
/*container-fluid*/
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*end container-fluid*/

/* container-md */
.container-md {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575px) {
  .container-md {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container-md {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container-md {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container-md {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-md {
    width: 1140px;
  }
}
/*End container-md*/
